@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Annie+Use+Your+Telescope&family=Martian+Mono&display=swap');

@keyframes float {
    0% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-10px); }
    100% { transform: translateX(-50%) translateY(0); }
}

@keyframes breathe {
    0% { transform: translateX(-50%) scale(1); }
    50% { transform: translateX(-50%) scale(1.05); }
    100% { transform: translateX(-50%) scale(1); }
}

.about-me-container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    color: #E1E9EE;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 23px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
    animation: float 3s infinite, breathe 3s infinite;
}

.custom-link {
    text-decoration: none;
    color: #B0BEC5;
    margin-left: 10px;
    flex: 1; /* ensures all links evenly split the width */
    text-align: center;
    padding: 10px; /* for better clickability */
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.link-text {
    opacity: 0.6;  /* Initial semi-transparent state */
    transition: opacity 0.3s ease-in-out;  /* Smooth transition effect */
}

.link-text:hover {
    opacity: 1;  /* Fully opaque on hover */
    color: #04c3f3;
}

.link-prefix-image {
    height: 32px;  /* Adjust as needed */
    width: 32px;   /* Adjust as needed */
    margin-right: 5px;
    vertical-align: middle;
}

.links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* spacing between About Me and links section */
}

.strikethrough {
    text-decoration: line-through;
}